
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Authorized/Views/Shared/_Layout.cshtml";
}

<h2>Choose a heading</h2>

<div>
    <table>
        <tr>
            <td>
                Table of heading
            </td>
        </tr>
    </table>
</div>


